__pycache__/
*.py[cod]
.git/
.venv/
venv/
.pytest_cache/
.cache_alfacase_parser/
*.ipynb
local_ml_runner*.log
.env
.env.*
api/config.py
logs/
tests/
training/
artifacts/rubert_base_partial_multitask/
artifacts/*.csv
artifacts/*.png
artifacts/*.joblib
!artifacts/best_censor_model.joblib
artifacts/rubert_tiny2_multitask/*.csv
artifacts/rubert_tiny2_multitask/*.png
