BACKEND_PROXY_TARGET=http://77.75.8.78:999
ML_PROXY_TARGET=http://127.0.0.1:8000
CASE_ASSET_PROXY_TARGET=http://77.75.8.78:333
VUE_APP_CASE_ASSET_BASE_URL=/storage/alfa-cases
PUBLIC_HOSTNAME=alfacasebot.it-networking.ru
DEV_SERVER_HMR=false
