VUE_APP_BACKEND_PROXY_TARGET=http://77.75.8.78:999
VUE_APP_ML_PROXY_TARGET=http://127.0.0.1:8000
VUE_APP_CASE_ASSET_PROXY_TARGET=http://77.75.8.78:333
VUE_APP_CASE_ASSET_BASE_URL=/alfa-cases
VUE_APP_PUBLIC_HOSTNAME=alfacasebot.it-networking.ru
